body{
    margin: 0px;
    padding: 0px;
    /*min-width: 768px;*/
}
.pad{
    padding-top: 50px;
    float: right;
}
@media screen and (max-width: 458px){
    #logo{
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 458px){
    #address {
        float: left;
    }
}

.row {
    margin: auto;
}
.logo{
    Max-height: 150px;
    float: left;
}
.paralaxrow{
    margin-left: 0px;
    margin-right: 0px;
}
@media screen and (min-width: 768px){
    .parallax{
    background-image: url('https://imgur.com/cI2Jzon.png');
    min-height: 700px;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
@media screen and (max-width: 768px){
    .parallax{
    background-image: url('https://i.imgur.com/SPbtlVZ.jpg');
    min-height: 700px;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
ul {
  float: right;
  padding-right: 20px;
}
@media screen and (max-width: 767px){
    ul{
        float: left;
        padding: 0px;
        margin: 0 auto;
    }
}
li {
  display: inline-block;
  padding-left: 8px;
}
@media screen and (max-width: 767px){
    li{
        padding: 0px;
        padding-right: 7px;
    }
}
ul a {
  color: white;
  font-size: 1.2em;
}
.nav {
  background-color: #a6785c;
  padding-top: 8px;

}

.nav a:hover {
    text-decoration: underline;
    color: white;
}
.nav h4 {
  color: white;
}
 @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
.news{
    background-color: #a6785c;
    color: white;
}

  .tcontainer{
    overflow: hidden;
    background-color: #a6785c; 
    float: right;
  }
@media screen and (min-width: 1023px){
  #mobile{display:none;}
  #smalltick{display:none;}
}
@media screen and (max-width:1023px)and (min-width: 660px){
  #desktop{display: none;}
  #smalltick{display:none;}
} 
@media screen and (max-width: 660px){
  #desktop{display:none;}
  #mobile{display:none;}
  #smalltick{display:block;}
}

  .ticker-wrap {
    width: auto;
    padding-left: 100%;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
    color: white;
  }


.indexlist p{
    text-align: center;
}
.indeximg{
    margin-top: 10px;
    width:100%;
    display: block;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;
}
.importantred{
    color: red;
}
#desktoptable {
  height: 100px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:80%;
}
/*
#mobiletable{
  height: 100px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}*/
td {
  border: 1px solid #dddddd;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
/*
@media screen and (min-width: 677px){
   #mobiletable{
        display: none;
    }
}
@media screen and (max-width: 677px){
    #desktoptable{
        display: none;
    }
    #mobiletable{
        display: block;
    }
}*/
.location{
    text-align: center;
}
iframe{
    width: 100%;
}
.carousel{
    width: 100%;
    float: none;
    margin: 0 auto;
}
.carousel-inner > .item > img {
  margin: auto;
  width:700px;
  height:360px;
}
.about{
    padding-top: 0px;
    margin: 10px; 
}
.aboutdr p, .aboutdr h1{
    padding: 0px 15px 0px 15px;
}
.top{
    border: 1px solid grey;
    border-radius: 5px;
}
.top{
    padding-left: 15px;
}
.bottom{
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 15px;
}
.digestimg{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width:100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.remedybutton{
    padding: 0px 10px;
}
.footer{
    background-color: #a6785c;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.fineprint{
    font-size: 10px;
}
.digest{
    background-color: white;
}
@media screen and (min-width: 767px){
    #mobilemove2{
        display:none;
    }
    #mobilenav2{
        display:none;
    }
    
}
@media screen and (max-width: 767px){
    #mobilemove{
        display: none;
    }
    #mobilemove2{
        display: inline-block;
        padding: 0px;
    }
   #mobilenav {
       display: none;    
    }
    #mobilenav2{
        display: block;
        padding: 25px 35px 0px 35px;
        margin: 0px;
    }
   
}
.top1{
    padding-left: 5px;
    margin: 0px 20px 0px 20px;
    border: 1px solid grey;
    border-radius: 5px;  
}
.digestimg1{
    padding: 0px 20px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.buttonarea{
    margin: 50px 0px;
    width: 100%;
}
.buttonarea button{
    border: none;
    padding: 10px; 
    background-color:#4CAF50; 
    width: 75%;
    display: block;
    margin: auto;
}
.digestcontent{
    margin: 35px 0px;
}
.remedybutton{
    margin: 10px 0px;
}
.hours{
    text-align: center;
}
.testimonypost{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.buttonarea{
    margin: 50px 0px;
    width: 100%
}
/* USE WITH 2 COLUMNS
.newsfeed{
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px; 
}*/
.newsfeed{
    margin: 35px 0px;
   
}
@media screen and (max-width:767px){
    .newsfeed{
        margin-left: 15px;
        margin-right: 15px;  
    }
}
.newspost{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.newspostimg{
    display: block;
    margin:0;
}
.newspostpad{
    padding-bottom:10px;
}
figcaption{
    text-align: center;
}
.faq{
    text-align: center; 
}
